@model EpisodeInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What Time Is EastEnders On Tonight?</h1>
    @{
        if (@Model != null && !string.IsNullOrWhiteSpace(@Model.StartTime))
        {
            <p class="time-text">@Model.StartTime</p>

            if (@Model.Synopsis != null)
            {
                <p class="synopsis-text">@Model.Synopsis</p>
            }
        }
        else
        {
            <p class="not-on-text">EastEnders is not on tonight.</p>
        }
    }
</div>
