html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.time-text {
    color: #86B049;
    font-size: 8rem;
}

.not-on-text {
    color: #F1DDDF;
    font-size: 2rem;
}

.synopsis-text {
    font-size: 1.25rem;
}